<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/includes/layout :: layout(~{::section},~{::link},~{::script})}" >
<head>
  <link th:href="@{/assets/css/board.css}" href="/assets/css/board.css" rel="stylesheet" type="text/css">
  <script th:inline="javascript"></script>
</head>
<body>
<section>
  <div id="content">
    <tr id="board">
      <form id="search_form" th:action th:object="${request}" action="/board" method="post">
        <input type="text" id="kwd" name="kwd" value="">
        <input type="submit" value="찾기">
      </form>
      <table class="tbl-ex">
        <tr>
          <th>no</th>
          <th>제목</th>
          <th>글쓴이</th>
          <th>조회수</th>
          <th>작성일</th>
          <th>&nbsp;</th>
        </tr>
        <tr th:each="board, boardStat  : ${list.content}">
          <td th:text="${boardStat.count }">1</td>
          <th:block th:if="${board.depth > 0}" >
            <td th:style="'padding-left:${board.depth * 40}px'">
              <img src="/assets/images/reply.png" th:src="@{/assets/images/reply.jpg}"
                   th:style="'padding-left:${board.depth * 40}px'" />
              <a th:if="${board.status ne 'delete'}" th:href="@{/board/view/{no}(no=${board.no})}" th:text="${board.title}">타이틀</a>
              <p th:if="${board.status == 'modify'}" th:text="[수정]"> </p>
              <p th:if="${board.status == 'insert'}" th:text="[생성]"> </p>
              <p th:if="${board.status == 'delete'}" th:text="[삭제된 글입니다.]"> </p>
            </td>
          </th:block>
          <th:block th:unless="${board.depth > 0}">
            <td>
              <a th:if="${board.status ne 'delete'}" th:href="@{/board/view/{no}(no=${board.no})}" th:text="${board.title}">타이틀</a>
              <p th:if="${board.status == 'modify'}" th:text="[수정]"> </p>
              <p th:if="${board.status == 'insert'}" th:text="[생성]"> </p>
              <p th:if="${board.status == 'delete'}" th:text="[삭제된 글입니다.]"> </p>
            </td>
          </th:block>
          <td th:text="${board.user.name }">사용자 이름</td>
          <td th:text="${board.hit }">방문 횟수</td>
          <td th:text="${board.createdAt}">생성일</td>
          <td th:if="${session.authUser} and  ${ session.authUser.no == board.user.no }"><a th:href="@{/board/delete/{no}(no=${board.no})}" href="$/board/delete/" class="del">삭제</a></td>
        </tr>
      </table>
      <!-- pager 추가 -->
      <div class="pager" th:if="${!list.isEmpty()}">
        <ul  th:with="pageNumber = ${list.pageable.pageNumber},
                pageSize = ${list.pageable.pageSize},
                totalPages = ${list.totalPages},
                startPage = ${(pageNumber / pageSize) * pageSize + 1},
                tempEndPage = ${startPage + pageSize - 1},
                endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})">
          <li th:if="${!list.first}">
            <a href="/board?" th:href="@{/board(page=${#numbers.formatDecimal(startPage - pageSize, 0, -1)})}">◀</a>
          </li>
          <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'selected'">
            <a th:text="${page}" th:href="@{/board(page=${page}, kwd=${kwd})}"></a>
          </li>
          <li th:if="${!list.last}">
            <a href="/board?" th:href="@{/board(page=${#numbers.formatDecimal(startPage + pageSize, 0, -1)})}">▶</a>
          </li>
        </ul>
      </div>
     <!-- pager 추가 -->
    <div th:if="${session.authUser}" class="bottom">
      <a href="/board/write" th:href="@{/board/write}" id="new-book">글쓰기</a>
    </div>
  </div>
</section>
</body>
</html>