<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
  <div id="header">
    <h1>MySite</h1>
    <ul>
      <th:block th:if="${session.authUser}">
        <li><a th:href="@{/user/updateform}" th:text="#{header.updateForm}">회원정보수정</a></li>
        <li><a th:href="@{/user/logout}" th:text="#{header.logout}" >로그아웃</a></li>
      </th:block>
      <th:block th:unless="${session.authUser}">
        <li><a th:href="@{/user/loginform}" th:text="#{header.logInForm}">로그인</a></li>
        <li><a th:href="@{/user/joinform}" th:text="#{header.insertForm}">회원가입</a></li>
      </th:block>
    </ul>
  </div>
</header>
</html>